@font-face {
    font-family: 'Omnes_ATTRegular';
	font-weight: normal;
    font-style: normal;
    src: url('fonts/Omnes_ATTRegular/omnesatt-regular.woff') format('woff');
}

html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Omnes_ATTRegular', Arial, sans-serif;
	font-size: 100%;
	vertical-align: baseline;
}

.fileDimensions{
	width: 300px;
	height: 250px;
}

.sprite {
	position: absolute;
}

.container{
	position: relative;
	overflow: hidden;
}

.clickScreen{
	cursor: pointer;
	z-index: 380;
}

.border{
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    z-index: 200;
    -moz-box-sizing: border-box;
   	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.copy1{
	font-size: 22px;
	color: #FFFFFF;
	top: 60px;
	left: 40px;
	z-index: 200;
}

.copy2{
	top: 90px;
	left:60px;
	z-index: 220;
}

.mainImage{
	background-image:url(assets/mainImage.jpg);
	z-index: 40;
}

.CTA{
	top: 178px;
	left: 102px;
	width: 94px;
	height: 22px;
	z-index: 400;
	cursor: pointer;
}

.CTACopy{
	top: 7px;
	left: 13px;
	width: 70px;
	height: 9px;
	background-image:url(assets/CTACopy.png);
	z-index: 20;
}

.CTABG{
    border-radius: 6px;
    background: #FFFFFF;
    width: 95px;
    height: 22px;
    z-index: 10; 
    box-shadow: black 0px 4px 20px -5px;
    -webkit-box-shadow: black 0px 4px 20px -5px;
}

.replayBtn{
	top: 8px;
	left: 8px;
	width: 13px;
	height: 15px;
	background-image:url(assets/replayButton.svg);
	cursor: pointer;
	z-index: 500;
}

.background{
	background-color:#4b8fc1;
	z-index: 10;
}
